@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

html
{
    background-image: url(images/shattered.png);
}

p::selection
{
	background: pink;
}

h2::selection
{
	background: pink;
}

img::selection
{
	background: pink;
}

a:link
{
    color: rgba (0, 0, 0, 0.7);
}

a:visited
{
    color: rgba (0, 0, 0, 0.7);
}

a:hover
{
	color: rgba (255, 0, 255, 0.6);
}

body
{
    margin: 0;
}

h2
{
	font-family: "Open Sans Condensed";
    font-size: 32px;
    text-align: center;
}

.page-content p
{
	font-size: 17px;
	font-family: "Yanone Kaffeesatz";
}

.menu-bar
{
    background-color: blue;
    padding: 10px;
    text-align: center;
    background-color: black;
    background-color: rgba(238, 67, 181, 0.6);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.menu-bar a
{
    background-color: gold;
    background-color: rgba(5, 4, 5, 0.5);
    padding: 10px 30px;
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    text-decoration: none;
    font-family: "MS Sans Serif";
    font-weight: bold;
    color: white;
}

.menu-bar a:hover
{
    background-color: pink;
    color: grey;
}


.profile-pic
{
    margin: 0px 0px 0px 0px;
    border-style: solid;
    border-width: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.page-header
{
    background-color: gold;
    background-color: rgba(222, 191, 37, 0.3);
    padding: 10px 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    margin: 0px 0px 10px 0px;
	border-bottom-style: solid;
	border-width: 1px;
    border-color: grey;
}

.page-content
{
    background-color: gold;
    background-color: rgba(112, 86, 103, 0.1);
    font-family: "Yanone Kaffeesatz";
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    color: rgba(0,0, 0, 0.7);
    width: 100%;
    max-width: 1000px;
    padding: 10px 20px 20px 20px;
    text-align: justify;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    margin: 10px auto;
}

.gallery img
{
    height: 450px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.social-link
{
    float: right;
	margin: 5px;
	border-style: solid;
	border-color: white;
    border-width: 3px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	height: 48px;
	width: 48px;
	background-color: white;
}

.social-link img
{
	height:48px;
	width:48px;
}

.social-link img:hover
{
	opacity: 0.3;
    filter: alpha(opacity=30);
}

.page-footer
{
	background-color: gold;
    background-color: rgba(222, 191, 37, 0.3);
    font-family: "MS Sans Serif";
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    padding: 7px 7px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 12px;
    margin: 10px 0px 0px 0px;
	border-top-style: solid;
	border-width: 1px;
    border-color: grey;
}

.social-icons
{
    font-family: "MS Sans Serif";
    font-weight: bold;
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    font-size: 36px;
	padding-bottom: 68px;
	text-align: top;
}

.pic-name
{
    font-family: "MS Sans Serif";
    font-weight: bold;
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 36px;
}